@use "../../styles/partials/global" as *;

.hamburger {
	width: 2rem;
	height: 1.75rem;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	cursor: pointer;
	z-index: 10;
	padding-left: 0.5rem;

	@include tablet {
		display: none;
	}

	.burger {
		width: 2rem;
		height: 0.1875rem;
		border-radius: 10px;
		transform-origin: 1px;
		transition: all 0.3s linear;
		background-color: rgb(161, 161, 170);
	}
}
