@use "../../styles/partials/global" as *;

.faq {
	@include flex-center-both;
	flex-direction: column;
	padding: 0 1rem;

	&__box {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		margin: 1rem 0;

		@include tablet {
			justify-content: flex-start;
		}
	}

	&__question {
		color: white;
		background-color: $ForcesTeal;

		font-size: 1.5rem;

		margin-bottom: 0;
		text-align: center;

		&::marker {
			visibility: hidden;
		}

		@include tablet {
			text-align: left;
		}
	}

	&__answer {
		font-size: 1rem;
		text-align: center;

		@include tablet {
			text-align: left;
			font-size: 1.25rem;
		}
	}

	&__section {
		color: $ForcesGrey;
		font-size: 1.5rem;
	}

	&__images {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		margin: 1rem 0;

		img {
			height: 22rem;

			@include tablet {
				height: 40rem;
			}
		}
	}

	&__link {
		background-color: $ForcesTeal;
		text-decoration: none;
		color: white;
		border-radius: 5px;
		padding: 0 0.15rem;
		font-weight: 600;
	}
}

.chevron-down {
	margin-left: auto;
	transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.szh-accordion {
	&__item {
		margin-bottom: 1rem;

		&-btn {
			cursor: pointer;
			display: flex;
			align-items: center;
			width: 100%;
			margin: 0;
			padding: 1rem;
			font-size: 1.125rem;
			font-weight: 600;
			text-align: left;
			color: white;
			background-color: $ForcesTeal;
			border: none;
			border-radius: 10px;

			&:hover {
				background-color: $ForcesTeal--dark;
			}

			@include tablet {
				font-size: 1.5rem;
			}
		}

		&-content {
			transition: height 0.25s cubic-bezier(0, 0, 0, 1);
		}

		&-panel {
			padding: 1rem;
		}

		&--expanded {
			.szh-accordion__item-btn {
				background-color: $ForcesTeal--dark;
			}
			.chevron-down {
				transform: rotate(180deg);
			}
		}
	}
}
