$ForcesGrey: #6b7280;
$ForcesTeal: #0f766e;
$ForcesBlack: #111827;
$ForcesNav: #27272a;
$ForcesLightGrey: #f1f1f1;
$ForcesMediumGrey: #c1c1c1;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
