$ForcesGrey: #6b7280;
$ForcesTeal: #0f766e;
$ForcesTeal--dark: #0a4944;
$ForcesBlack: #111827;
$ForcesNav: #27272a;
$ForcesNavText: #d1d5db;
$ForcesNavHighlight: #374151;
$ForcesLightGrey: #f1f1f1;
$ForcesMediumGrey: #c1c1c1;
$ForcesSocials: #4b5563;

$tablet-breakpoint: 640px;
$desktop-breakpoint: 1024px;
